*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image:url(./assets/images/football-field.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#playerContainer{
  color: white;
}


#new-player-form{
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 2.5em;

}

input{
  height: 2em;
  width: 15em;
}
#name{
  margin-bottom: 1.5em;
}
#breed{
  margin-bottom: 1.5em;
}
#status{
  margin-bottom: 2.5em;
}
#submit{
  font-size: 1.5em;
  height: 1.5em;
  width: 4.5em;
  background-color:#419E76 ;
  color: white;
}

#all-players-container{
  font-size: 1.5em;
}